.section{
  height: 70rem;
  background-color: var(--second--color);
  border-radius: .5rem;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.accountSection{
  display: grid;
  grid-template-rows: 1fr 1fr .5fr .5fr .5fr 1fr;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--fifth--color);
  margin: 0 5rem;
}

.heading{
  margin: 0;
  align-self: center;
  justify-self: center;
}
.formUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .formUpload:focus + label {
    outline: 3px solid var(--fifth--color);
    outline-offset: 3px;
  }
  
  .formUpload + label {
    color: var(--fifth--color);
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dashed var(--fifth--color);
    padding: 3px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
  }
  .formUpload + label:hover {
    background-color: var(--fifth--color);
    border-radius: 2px;
    color: var(--first--color);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  .labelPhoto{
    font-size: 1.2rem;
    text-align: center;
  }

  .userPhoto{
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    justify-self: center;
  }



  .button{
    background-color: var(--fifth--color);
    border: none;
    border-radius: .5rem;
    color: var(--second--color);
    font-size: 1.1rem;
    padding: 1.5rem 2rem;
    justify-self: center;
    align-self: center;
  }

  .photoInput{
    justify-self: center;
  }

  .nameInput , .emailInput , .passwordInput{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-column-gap: 2rem;
  }

  .label{
    font-size: 1.5rem;
    padding-left: 15rem;
    align-self: center;
    
  }
  .input{
    border: none;
    background-color: var(--second--color);
   
    width: 70%;
    font-size: 1.5rem;
    font-family: inherit;
    color: var(--fifth--color);
  }
  .input:focus{
    outline: none;
    border-bottom: 3px solid var(--third--color);
  }
  .input::placeholder{
    font-size: 2rem;
    letter-spacing: .5rem;
  }

  .column{
    align-self: center;
  }

  .passwordSection{
    display: grid;
    grid-template-rows: 1fr .5fr .5fr .5fr 1fr;
   
  }

  .warning{
    text-align: center;
    font-size: 1.2rem;
    color: var(--fourth--color);
  }
  .warning2{
    display: block;
  }

  @media (max-width : 470px){
    .section{
      width: 100%;
    }
    .label{
     padding-left: 7rem;
    }
    .accountSection{
      margin: 0 1rem;
    }
}