.dateContainer{
    height: 70rem;
    width: 8rem;
    background-color: var(--second--color);
    border-radius: .5rem;
}
.month{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid var(--fifth--color);
    margin: 0 1rem;
}
.dateBox{
  margin: 1rem 0;
    list-style: none;
    font-size: 1.5rem;
    display: grid;
    grid-row-gap: 1rem;
    justify-content: center;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
}
.date{
    border-radius: .5rem;
    padding: 1rem 2.5rem;
    background-color: var(--third--color);
    height: 2rem;
    width: 1.5rem;
    text-align: center;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:var(--third--color);
    border-radius: 1rem;
    border: 2px solid var(--third--color);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--third--color);
    /* border-radius: 0.5rem; */
  
  }
