.calendarContainer {
    background: var(--second--color);
    width: 40rem;
    height:33rem ;
    border-radius: .5rem;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    display: grid;
   grid-template-rows: min-content 1fr ;
 
}
.header{
    display: grid;
    grid-template-rows: repeat(2 , min-content);
}
.heading{
    justify-self:center;
    font-size: 2.5rem;
    margin: 0.5rem;
}
.calendarNavigation{
    display: grid;
    /* grid-template-columns:  repeat(2 , 0.2fr) 1fr; */
    justify-items: end;
    align-items: center;
   padding-bottom: 1rem;
}
.currentMonthandYear{
    font-size: 1.4rem;
    justify-self: end;
    padding-right: 1.2rem;
    margin: 0;
    font-weight: 800;
}
.symbol{
    font-size: 1.8rem;
    font-weight: 800;
    cursor: pointer;
}
.datesContainer{
    list-style: none;
    height: 100%;
    display: grid;
    grid-template-columns:repeat(7 , 1fr);
    grid-template-rows: repeat(6 , 1fr);
    padding: 0 2rem;
    margin: 0;
    /* grid-row-gap: .5rem;
    grid-column-gap: 0.5rem; */
    font-size: 1.5rem;
}


