.btn{
    border: none;
    background-color: transparent;
    height: 90%;
    width: 95%;
    font-family: inherit;
 
}
.container{
    position: relative;
}

.reactionBox{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6 , 2.5rem) ;
   left: -217%;
    top: -40%;
}
.reactions{
    width: 2rem;
    z-index: 1;
}
.reaction{
    width: 3.5rem;
    z-index: 1;
}
.datesBtn{
    align-self: center;
    background-color: var(--third--color);
    border-radius: 50%;
    text-align: center;
   padding: 0.7rem ;
    cursor: pointer;
    font-weight: 600;
    border: none;
    font-family: inherit;
}
