body {
  margin: 0;

  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --first--color: #e0dfd5;
  --second--color: #ffffff88;
  --third--color: #daded4;
  --fourth--color: #39603d;
  --fifth--color: #3c403d;
}
* {
  font-family: "Inria Sans", sans-serif;
  box-sizing: border-box;
  cursor: context-menu;
}

html {
  font-size: 62.5%; /*10px*/
  min-height: 100dvh;
}

@media (max-width: 1025px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 470px) {
  html {
    font-size: 8px;
  }
}
